extends layout

block content

 .jumbotron
 
   .container
     .row
       .col-md-7
         h1 Professional Node.js Developers
         p.text-center
           | We can make your business grow
         p.text-center
           a.btn.btn-primary.btn-lg(href="#") Read More 
       .col-md-5
          img(src="images/main.png" width="100%") 
 hr 
 .container

     .row 
       each service, i in serv   
        .col-lg-4 
          img.img-responsive.center-block.img-circle(src=service.image  width="250", height="250")
          h2.text-center #{service.name}
          p #{service.description}
          p.text-center
            a.btn.btn-primary(href="#" role="button") View Details